<%- include("partials/head") %>
<body>
    <h1>The Dog's Spot</h1>
    <h2>Rota</h2>

    <button onclick="loginClicked()">Login</button>

    <script type="text/javascript" src="/js/login-redirect.js"></script>
</body>