<%- include("partials/head") %>
<body>
    <h1>The Dog's Spot</h1>
    <h2>Rota</h2>

    <form>
        <input type="text" id="username-input" />
        <input type="password" id="password-input" />
        <button type="submit">Login</button>
    </form>
</body>